/*Estilos de body*/

body {
    text-align: center;
    color: brown;
    height: 5000px;
}

/*Estilos para clase container*/

.container{
    margin: 25px;
    border: 1px solid black;
}


.position{
    position: sticky;
    top: 100px;

}




span{
    color: blueviolet;
    border: 1px solid red;
}

/* Atributo position
 
Sirve para poner o acomodar los elementos dentro de nuestro HTML

La propiedad de position de CSS se utiliza para controlar la ubicacion y el posicionamiento de un elemento HTML en una pagina. La propiedad position acepta diferentes valores, cada uno de los cuales determina como se posiciona un elemento en relacion con su elemento padre o en relacion con la ventana del navegador (el flujo normal de nuestra ventana es a partir de la esquina superior izquierda).

    - static
    - relative
    - absolute
    - fixed
    - sticky
/*posiciones*/
/* -static: Es el valor predeterminado por defecto. todos los elementos de html son estaticos por defecto.
los elementos se pocisionan en el flujo normal del documento (arriba, abajo, derecha, izq). Los valores top, bottom, right y left no tienen efecto sobre esta propiedad. *cómo se va a colocar*
    -relative: posiciona el elemento con su posición normal en el flujo del documento. A pesar de que el doc empieza con una posicion normal, si le afectan los valores que modifiquemos en top, bottom, left, right. Valor equitativo.
    -Fixed: Se modifica dependiendo de la posicion de la pantalla y depende tambien de cuanto espacio tenemos disponible (viewport que es lo que el usuario ve actualmente en su pantalla). Este estilo se aplica generalmente a barras de navegacion, cuando aplicamos esta propiedad, aseguramos que el elemento se mantenga visible independientemente de como se ajuste  la ventana (viewport). Es similar al absolute, pero l elemento se posiciona en relacion a la ventana del navegador, más no al body.
    -absolute: Para poder utilizar esta posicion debemos tomar en cuenta tambien el contexto de nuestro padre, (contenedor-padre). Esto quiere decir que todo lo que le pase al padre, se toma como contexto y eso afectará al hijo (margen, padding, etc.). Generalmente se usa para barras de navegacion, menús desplegables y animaciones (elementos que se quedan en un solo lugar respecto al elemento que los contiene).
    -sticky: Se utiliza paraa fijar o pegar un elemento en una posicion especifia de la ventana del navegador. Esto significa que el elemento se va a comportar como una posicion relatia HASTA que se desplaza a una posición en la que se debe fijar. Es uno de los elementos que más se utiliza en nav bar
*/
