/* La responsividad en un sitio web se refiere a la capacidad que tiene de adaptarse y verse correctamente en diferentes dispositivos y tamanios de pantalla, como computadoras de escritorio, tabletas y telefonos moviles. Es esencial para proporcionar una experiencia de usuario optima en cualquier dispositivo.

-CSS nos ofrece una herramienta poderosa llamada Media Query (consulta de medios) para lograr esto. Una media query es una regla de CSS que se aplica SOLO cuando se cumplen ciertas condiciones, estas condiciones est치n relacionadas con las caracteristicas del dispositivo, como el aancho de la pantalla, la orientacion y la resolucion.

La sintaxis para una Media Query es:

@media(par치metros o condiciones a cumplir)(
    estilos que se aplican cuando se cumplen las condiciones
    )


Primera media query para cambiar el color del texto a un color azul cuando el ancho de la pantalla sea menor o igual a 500px
*/

@media(max-width:500px){
    body{
        color: blue;
    }

.parrafo{
    display: none;
}    
}

/*Media query para cambiar el color de nuestros textos a verde, cuando se detecte un cambio en la orientacion de la ventana*/

@media(orientation:landscape){
    body{
        color: green;
    }
}

/*Media query para cambiar el color de nuestros textos a amarillo, cuando se detecte una orientacion landscape y adem치s un ancho m치ximo de 500px*/

@media(orientation:landscape) and (max-width:600px){
    body{
        color: goldenrod;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
